@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gaya";
  src: url("../assets/fonts/Gaya-regular.otf");
}

.dashed {
  background-color: aqua;
  stroke-dasharray: 100;
  animation: dash 5s linear;
}

.path {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.mid-sentence {
  @apply before:mr-1 before:flex before:h-4 before:justify-center before:stroke-red-500 before:text-green-100 before:opacity-0 before:transition-opacity before:duration-700 before:ease-in-out 
  before:content-vercel after:absolute after:top-0 after:right-[41%] after:mb-4 after:text-lg after:text-red-500 
  after:opacity-0 after:transition-opacity after:duration-700 after:ease-in-out after:content-['\(not_so\)'] hover:before:opacity-100 hover:after:opacity-100;
}
