@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gaya";
  src: url("../assets/fonts/Gaya-regular.otf");
}

@font-face {
  font-family: "Display";
  src: url("../assets/fonts/Casanova\ Font.otf");
}

@font-face {
  font-family: "P22Bold";
  src: url("../assets/fonts/P22Mackinac-Bold_23.otf");
}
@font-face {
  font-family: "P22";
  src: url("../assets/fonts/P22MackinacPro-Book_25.otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf");
}

.dashed {
  background-color: aqua;
  stroke-dasharray: 100;
  animation: dash 5s linear;
}

.path {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.mid-sentence {
  @apply before:mr-1 before:hidden before:h-4 before:justify-center before:stroke-red-500 before:text-green-100 before:transition-opacity before:duration-700 before:ease-in-out before:content-vercel after:absolute 
  after:right-[41%] after:top-0 after:mb-4 after:hidden after:text-lg after:text-red-500 after:transition-opacity after:duration-700 after:ease-in-out
  after:content-['\(not_so\)'] hover:before:opacity-100 hover:after:opacity-100 before:lg:flex before:lg:opacity-0 after:lg:inline after:lg:opacity-0;
}
